#cards {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.card {
    padding: 7px 20px;
    background: white;
    border: 2px solid #CCCCCC;
    width: 100%;
}

.card-title {
    font-size: 14px;
    color: #8d3050;
}

.pretty {
    margin: 5px !important;
}

.pretty input {
    left: -10px !important;
}

.pretty .state label::before {
    border: #8d3050 2px solid;
    border-radius: 0px !important;
    left: -12px;
}

.pretty .state label {
    font-weight: 700;
}

.pretty.p-icon .state .icon {
    font-size: .8em;
    left: -12px;
    top: 3px;
    color: #8d3050;
}