.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px !Important;
}

.p10 {
    padding: 10px !Important;
}

.p20 {
    padding: 20px !Important;
}

.p30 {
    padding: 30px !Important;
}

.pl-5 {
    padding-left: 5px !Important;
}

.pl-10 {
    padding-left: 10px !Important;
}

.plr-10 {
    padding: 0px 10px !Important;
}

.p-5-20 {
    padding: 5px 20px !Important;
}

.ptb-10 {
    padding: 10px 0px !Important;
}


/*** MARGINS ***/

.m0 {
    margin: 0px;
}

.m3 {
    margin: 3px !important;
}

.m5 {
    margin: 5px !important;
}

.ml-5 {
    margin-left: 5px !Important;
}

.ml-10 {
    margin-left: 10px !Important;
}

.ml-15 {
    margin-left: 15px !Important;
}

.ml-20 {
    margin-left: 20px !Important;
}

.ml-25 {
    margin-left: 25px !Important;
}

.ml-30 {
    margin-left: 30px !Important;
}

.mr-15 {
    margin-right: 15px !Important;
}

.mt-10 {
    margin-top: 10px !Important;
}

.mt-20 {
    margin-top: 20px !Important;
}