* {
  margin: 0;
  padding: 0; 
}

.jump-hamburguer {
	
	display:inline-block;
	
}

#jump-hamburguer {
  width: 50px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  color:#FFFFFF;
}

#jump-hamburguer span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #31cbfd;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#jump-hamburguer span:nth-child(1) {
  top: 6px;
}

#jump-hamburguer span:nth-child(2) {
  top: 21px;
}

#jump-hamburguer span:nth-child(3) {
  top: 36px;
}

#jump-hamburguer.open span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#jump-hamburguer.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#jump-hamburguer.open span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}