.jump-alert-modal {
	
	position: fixed;
	top: 0;
	left: 0;
	background-color: RGBA(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 900000;
	display: none;
	
}

.jump-alert-container {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900001;
	display: none;
	justify-content:center;
	align-items:center;
	
}

.jump-alert {
	
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	width: 300px;
	height: auto;
	font-size: 12px;
	
}

.jump-alert-danger {
	
	border-color:red;
	
}

.jump-alert-success {
	
	border-color:green;
	
}