.jump-window {
	
	z-index:100000;
	/*display:none;*/
	
}

.jump-window-visible {
	
	z-index:100000;
	display:block;
	
}

.jump-window-header {
	
	padding:0 20px;
	cursor:move;
	height:36px;
	line-height:36px;
	
}

.jump-window-group-header {
	
	padding:0 20px;
	cursor:move;
	height:36px;
	line-height:36px;
	
}

.jump-window-close {
	
	float:right;
	
}

.jump-window-body {
	
	min-height:200px;
	
}