/*** defaults ***/

body {
	
	font-family:"Montserrat", sans-serif !Important;
	
}

a {
	
	color:#FFFFFF;
	
}

a:hover {
	
	color:inherit;
	text-decoration:none !Important;
	-webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	
}

.jump-row {
	
	width:100% !Important;
	
}

/*** BRAND ***/

#brand-logo {
	
	position:relative;
	left:-3%;
	
}

/*** NAV ***/

#jump-navbar-main {
	
	min-height:68px !Important;
	height:auto !Important;
	position: fixed;
	top: 0px;
	background-color: #333;
	z-index: 99000;
	
}

.jump-flotant-nav {	
	
	background-color:#333333;
	
}

.jump-nav-default li a {
	
	color:#FFFFFF;
	text-decoration:none;
	font-size:11px;
	
}

.jump-nav-default li a:hover {
	
	background-color:#31cbfd;
	color:#FFFFFF;
	text-decoration:none;
	
}

/*** WINDOWS ***/

.jump-window {
	
	background:transparent;
	
}

.jump-window-header {
	
	background:#333333;
	color:#FFFFFF;
	
}

.jump-window-close {
	
	color:#FFFFFF;
	
}

.jump-window-close:hover {
	
	opacity:0.5;
	
}

.jump-window-body {
	
	background:#FFFFFF;
	color:#333333;
	
}

/*** BUTTONS ***/

.jump-block-inner-toolbar .button-input-group {
	
	background-color:#4a4849;
	
}

.jump-block-inner-toolbar .button {
	
	background-color:#4a4849;
	border-radius:3px;
	color:#31cbfd;
	
}

/*.jump-block-inner-toolbar .button:hover {
	
	color:#31cbfd;
	
}*/

/*** INPUT ***/

.jump-input {
	
	background-color:transparent;
	color:#FFFFFF;
	border:none;
	cursor:text;
	height: 50%;
	font-size: 12px;
	font-weight: 400;
	
}

.jump-input-bl {
	
	background-color:transparent;
	color:#FFFFFF;
	border-left: 1px solid RGBA(255,255,255,0.3);
	
}

.jump-fa-button-input:hover {
	
	color:#FFFFFF;
	text-decoration:none;
	
}

/***  DROPDOWN ***/

.dropdown-menu {
	
	background-color:#333333;
	border:none;
	border-radius:0;
	padding:0;
	
}

.dropdown-item {
	
	color:#FFFFFF;
	font-size:12px;
	
}

.dropdown-item:hover {
	
	background-color:#31cbfd;
	color:#FFFFFF;
	font-size:12px;
	
}