.jump-align-left {
	
	position:absolute;
	left:0px;
	
}

.jump-align-right {
	
	position:absolute;
	right:0px;
	
}

.jump-align-center {
	
	position:absolute;
	
}

.jump-float-left {
		
	float:left;
	
}

.jump-float-right {
	
	float:right;
	
}