.jump-block-inner-toolbar .button {

	text-align:center;
	display:inline-block;

}

.jump-block-inner-toolbar .button-input {

	width:auto;

}

.jump-block-inner-toolbar .input {

	/*width:auto;
	display:inline-block;*/

}