/*** defaults ***/

body {
	
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	font-family:"Montserrat", sans-serif !Important;
	
}

a {
	
	color:#FFFFFF;
	
}

a:hover {
	
	color:inherit;
	text-decoration:none !Important;
	-webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	
}

.jump-row {
	
	width:100% !Important;
	
}

/*** BRAND ***/

#brand-logo {
	
	position:relative;
	left:-3%;
	
}

/*** NAV ***/

#mainbar-icons {
	
	display:inline-flex;
	align-items:center;
	
}

#mainbar-icons .jump-block-inner-toolbar {
	
	height:36px;
	
}

#mainbar-icons .jump-block-inner-toolbar ul {
	
	display:flex;
	
}

#mainbar-icons .jump-block-inner-toolbar ul li a {
	
	color:#31cbfd;
	
}

#mainbar-icons .button {
	
	height:36px;
	width:36px;
	display:inline-flex;
	align-items:center;
	margin-left:10px;
	
}

#mainbar-icons .button a {
	
	height:36px;
	width:36px;
	display:inline-flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	
}

#mainbar-icons .button-grow {
	
	height:36px;
	flex-grow:1;
	background-color:#4a4849;
	position: relative;
	left: -2px;
	
}


#toolbar-icons {
	
	display:inline-flex;
	align-items:center;
	
}

#toolbar-icons .jump-block-inner-toolbar, #toolbar-icons .jump-block-inner-toolbar li, #toolbar-icons .jump-block-inner-toolbar li a {
	
	height:24px;
	
}

#toolbar-icons .jump-block-inner-toolbar li a {

	display:inline-flex;
	align-items:center;
	
}

#toolbar-icons .button {
	
	height:19px;
	
}

#zoom-navbar {
	
	display:inline-flex;
	align-items:center;
	
}

#zoom-navbar .jump-block-inner-toolbar {
	
	height:36px;
	
}

#zoom-navbar .jump-block-inner-toolbar ul li {
	
	display:block !Important;
	
}

#zoom-navbar .button {
	
	height:36px;
	width:36px;
	
}

#jump-navbar-main {
	
	min-height:68px !Important;
	height:auto !Important;
	position: fixed;
	top: 0px;
	background-color: #333;
	z-index: 99000;
	
}

#jump-navbar-geovisor {
	
	min-height:44px !Important;
	height:44px !Important;
	position: fixed;
	background-color: #4c4c4e;
	z-index: 95000;
	
}

#jump-navbar-zoom {
	
	position: fixed;
	background-color: transparent;
	z-index: 95000;
	height: 95px;
	width: 68px;
	
}

#nav-panel {
	
	z-index:90000;
	background-color:RGBA(33,33,33,.8);
	
}

.jump-flotant-nav {	
	
	background-color:#333333;
	
}

.jump-nav-default li a {
	
	color:#FFFFFF;
	text-decoration:none;
	font-size:11px;
	
}

.jump-nav-default li a:hover {
	
	background-color:#31cbfd;
	color:#FFFFFF;
	text-decoration:none;
	
}

.jump-block-inner-toolbar ul li {

    display: inline-flex;
	align-items:center;

}

/*** LAYERS ***/

#filtered-layer-list .popup-panel-tree-item-header {
	
	
	font-size:12px;
	padding:10px 20px;

}

#layer-preview-inner {
	
	color:#333333;
	
}

#layer-preview-inner .title {
	
	font-size:18px;
	font-weight:700;
	
}

#layer-preview-inner .content {
	
	font-size:12px;
	font-weight:400;
	
}

#layer-preview-inner .button {
	
	padding:4px;
	border-radius:3px;
	background-color:#4c4c4e;
	color:#FFFFFF;
	font-size:13px;
	font-weight:700;
	padding:10px;
	
}

#layer-preview-inner .button:hover {
	
	opacity:0.5;
	
}

.geovisor-flotant .jump-window-body {
	
	font-size:12px;
	
}

/*** WINDOWS ***/

#popup-geovisor .jump-window-body {
	
	background-color:#FFFFFF;
	
}

.jump-window {
	
	background:transparent;
	
}

.jump-window-header {
	
	background:#333333;
	color:#FFFFFF;
	
}

.form-group .jump-button-fullsize {
	
	border-radius:3px;
	background-color:#31cbfd;
	color:#FFFFFF;
	font-size:13px;
	font-weight:700;
	
}

.form-group .jump-button-fullsize:hover {
	
	opacity:0.5;
	
}

.jump-window-header .button {
	
	padding:4px;
	border-radius:3px;
	background-color:#4c4c4e;
	color:#FFFFFF;
	font-size:13px;
	font-weight:700;
	
}

.jump-window-header .button-active {
	
	background-color:#31cbfd;
	
}

.jump-window-header .button:hover {
	
	opacity:0.5;
	
}

.jump-window-header .button-active:hover {
	
	opacity:1;
	
}

.jump-window-group-header {
	
	background-color:#e3e3e3;
	color:#333333;
	font-size:12px;
	font-weight:700;
	cursor:normal;
	
}

.jump-window-group-body {
	
	color:#333333;
	
}

.jump-window-close {
	
	color:#FFFFFF;
	
}

.jump-window-close:hover {
	
	opacity:0.5;
	
}

.jump-window-body {
	
	background:RGBA(33,33,33,.6);
	color:#FFFFFF;
	
}

#popup-geovisor .pretty .state label {
	
	color:#333333;
	
}

.jump-window-body .pretty .state label {
	
	color:#FFFFFF;
	
}

/*** BUTTONS ***/

.jump-block-inner-toolbar .button-input-group {
	
	background-color:#4a4849;
	
}

.jump-block-inner-toolbar .button {
	
	background-color:#4a4849;
	border-radius:3px;
	color:#31cbfd;
	display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
	justify-content: center;
}

.jump-icons-toolbar .button {
	
	background-color:#4c4c4e;
	border-radius:3px;
	color:#31cbfd;
	padding:0;
	margin:0;
	
}

.jump-icons-toolbar .button:hover {
	
	opacity:0.5;
	
}

/*.jump-block-inner-toolbar .button:hover {
	
	color:#31cbfd;
	
}*/

/*** INPUT ***/

.jump-input {
	
	background-color:transparent;
	color:#FFFFFF;
	border:none;
	cursor:text;
	height: 50%;
	font-size: 12px;
	font-weight: 400;
	
}

.jump-input-bl {
	
	background-color:transparent;
	color:#FFFFFF;
	border-left: 1px solid RGBA(255,255,255,0.3);
	
}

.jump-fa-button-input:hover {
	
	color:#FFFFFF;
	text-decoration:none;
	
}

.jump-input-form {
	
	width:100%;
	border:1px solid #FFFFFF;
	padding:10px;
	background-color:RGBA(33,33,33,.3);
	
}

/***  DROPDOWN ***/

.dropdown-menu {
	
	background-color:#333333;
	border:none;
	border-radius:0;
	padding:0;
	
}

.dropdown-item {
	
	color:#FFFFFF;
	font-size:12px;
	
}

.dropdown-item:hover {
	
	background-color:#31cbfd;
	color:#FFFFFF;
	font-size:12px;
	
}