.jump-window {
	
	z-index:600000;
	display:flex;
	flex-direction:column;
	position:absolute;
	padding:0 !Important;
	background-color:transparent;
	display:none;
	
}

.jump-window-inner {	
	
	padding:20px;
	height:100%;
	display:flex;
	flex-direction:column;
	
}

.jump-window-visible {
	
	z-index:100000;
	display:block;
	
}

.jump-window-header {
	
	padding:6px 20px;
	cursor:move;
	height:42px;
	line-height: 32px;
	display:block;
	align-items:center;
	background-color:#4c4b4b;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bolder;
	text-transform:uppercase;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;		
	
}

.jump-window-minimize {
	
	margin-right:5px;
	
}

.jump-window-minimized-bar {
	
	position:fixed;
	bottom:0px;
	right:0px;
	height:32px;
	z-index:185000;
	display:flex;
	justify-content:right;
	
}

.jump-window-minimized-bar-node {
	
	background-color: #333;
	display: block;
	border-radius: 3px;
	text-align: left;
	padding-left: 20px;
	color:#FFF;
	width:250px;
	font-size:12px;
	height: 32px;
	line-height: 32px;
	display:none;
	margin:2px 0 0 2px;
	
}

.jump-window-header .button {
	
	font-size: 12px;
    font-weight: bolder;
    height: 30px;
    padding: 0 20px;
    border-radius: 3px;
    display: inline-block !important;
    align-items: center;
    line-height: 30px;
    width: auto;
    vertical-align: top;

}
	
}

.jump-window-header .button:hover {
	
	color:#FFFFFF;
	
}

.jump-window-header .button-active {
	
	background-color:#31cbfd !important;
	
}

.jump-window-group {
	
	width:100%;
	
}

.jump-window-group-header {
	
	padding:0 20px;
	cursor:move;
	height:36px;
	line-height:36px;
	width:100%;
	font-size:12px;
	background-color:#e3e3e3;
	
}

.jump-window-group-header-collapser {
	
	color: #666;
	float: right;
	font-size: 14px;
	margin-right: -10px;

}

.jump-window-icon-bar {
	
	width: 100px;
	display: inline-block;
	vertical-align: top;
	float: right;
	height: 30px;
	line-height: 30px;
	margin-right: -70px;
	
}

.jump-window-maximize {
	
	float:right;
	margin-right:10px;
	
}

.jump-window-close:hover, .jump-window-minimize:hover, .jump-window-maximize:hover {
	
	opacity:0.8;
	
}

.jump-window-body {
	
	display:flex;
	flex-direction:column;
	flex-grow:1;	
	background-color:#FFFFFF;
	
}