.jump-alert-modal {
	
	position: fixed;
	top: 0;
	left: 0;
	background-color: RGBA(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 910020;
	display: none;
	
}

.jump-alert-container {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 910021;
	display: none;
	justify-content:center;
	align-items:center;
	
}

.jump-alert {
	
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	width: 300px;
	height: auto;
	font-size: 12px;
	
}

.jump-alert-header {
	
	color:#aaaaaa;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	
}

.jump-alert-danger .jump-alert-header {
	
	color:red;
	
}

.jump-alert-success .jump-alert-header {
	
	color:green;
	
}

.jump-alert-close {
	
	text-align:right;
	
}

.jump-alert-close a, .jump-alert-close a i {
	
	color: #aaaaaa !important;
	
}

.jump-alert-close a:hover {
	
	opacity:0.8;
	
}

.jump-alert-danger .jump-alert {
	
	border-color:red;
	
}

.jump-alert-success .jump-alert {
	
	border-color:green;
	
}