.jump-window {
	
	z-index:100000;
	display:flex;
	flex-direction:column;
	position:absolute;
	padding:0 !Important;
	background-color:transparent;
	display:none;
	
}

.jump-window-inner {	
	
	padding:20px;
	height:100%;
	display:flex;
	flex-direction:column;
	
}

.jump-window-visible {
	
	z-index:100000;
	display:block;
	
}

.jump-window-header {
	
	padding:0 20px;
	cursor:move;
	height:48px;
	display:flex;
	align-items:center;
	background-color:#333333;
	color:#FFFFFF;
	
}

.jump-window-header .button {
	
	font-size:14px;
	height:36px;
	display:block;
	padding:0 20px;
	border-radius:3px;
	display:flex;
	align-items:center;
	
}

.jump-window-header .button:hover {
	
	color:#FFFFFF;
	
}

.jump-window-header .button-active {
	
	background-color:#31cbfd;
	
}

.jump-window-group {
	
	width:100%;
	
}

.jump-window-group-header {
	
	padding:0 20px;
	cursor:move;
	height:36px;
	line-height:36px;
	width:100%;
	font-size:12px;
	background-color:#efefef;
	
}

.jump-window-close {
	
	margin-left:auto;
	
}

.jump-window-body {
	
	display:flex;
	flex-direction:column;
	flex-grow:1;	
	background-color:#FFFFFF;
	
}