.jump-posabs {
	
	position:absolute !Important;
	
}

.jump-posfix {
	
	position:fixed !Important;
	
}

.jump-posrel {
	
	position:relative !Important;
	
}

/*****************************************************/


.l--30 {
	
	left:-30px;
	
}

.l--40 {
	
	left:-40px;
	
}