.jump-block {
	
	margin:0;
	padding:0;
	height:100%;
	min-width:1px;
	display:inline-block;
	vertical-align:top;
	
}

.jump-block-inner-toolbar {
	
	height:50%;
	display:inline-flex;
	align-items:center;
	
}

.jump-block-inner-toolbar ul,.jump-block-inner-toolbar ul li {
	
	margin:0;
	padding:0;
	list-style-type:none;
	
}