.login-modal {
	
	background-color:RGBA(0,0,0,0.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:0;
	font-family:"Montserrat", sans-serif;
	
}

.login-window {
	
	width:450px;
	height:230px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-225px;
	margin-top:-115px;
	background-color:white;
	
}

.login-window-header {
	
	height:42px;
	line-height:42px;
	padding:6px 20px;
	background-color:#4c4b4b;
	color:white;
	font-family:"Montserrat", sans-serif;
	font-size: 13px;
	font-weight: bolder;
	
}

.login-window-body {
	
	height:42px;
	background-color:#ffffff;
	padding:20px;
	font-family:"Montserrat", sans-serif;
	
}

.login-window .form-group {
	
	background-color: #FFFFFF !important;
	margin: 3px 0px;
	border-radius: 3px;
	padding: 8px 3%;
	display: flex;
	align-items: center;
	border:1px solid #cccccc;
	
}

.login-window .form-group i {

    margin-left: 10px;
    font-size: 14px;
	color:#898989;
	
}

.login-window .form-group input {

	margin-left: 3%;
	width: 85%;
	border: none;
	font-size: 12px;
	font-weight: bolder;
	font-weight:400;
	font-family:"Montserrat", sans-serif;
	
}

.login-window .form-group a {

	text-decoration:none;
	
}

.login-window .form-group:first-child {

	margin-bottom:10px;
	
}

.login-window .form-group-button {

	border: none !Important;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	
}

.login-black-button {
	
	background-color: #343a40;
    color: #FFFFFF !Important;
    font-family: "Montserrat", sans-serif !Important;
    font-size: 12px;
	font-weight:700;
	width:150px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:.25rem;
	
}

.login-black-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#31cbfd;
	
}