.popup {

	position:absolute;
	z-index:1000;
	width:100%;
	top:20%;

}

.popup .col:not(.popup-header):not(.panel-tree):not(.col-popup), .popup .row {
	
	padding:0 !Important;
	margin:0 !Important;
	
}

.popup-nav {
	
	display:inline-block;
	
}

.popup-nav-right {
	
	float:right;
	
}
		
.popup-header {
	
	background-color:#4c4c4e;
	border-radius:3px;
	height:40px;
	padding:0 10px;
	
}

.popup-header-li {
		
	display:inline;
	margin:7px 5px 0 0;
	padding:0;
	
}

.popup-header-button {
		
	background-color:#333333;
	color:#FFFFFF;
	font-family:"Gotham bold";
	font-size:13px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border-radius:3px;
	
}

.popup-header-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#3c3c3c;
	
}

.popup-header-button-active {

	background-color:#31cbfd;
	
}

.popup-header-button-active:hover {

	color:#FFFFFF !Important;
	text-decoration:none !Important;
	background-color:#31cbfd;
	
}

.popup-panel-content {
	
	font-size:12px;
	
}

.popup-panel-tree {
	
	background-color:#f6f6f6;
	
}

.popup-panel-tree-header {
	
	padding:8px 10px;
	background-color:#e3e3e3;
	color:#333333;
	
}

.popup-panel-tree-content {	
	
	padding:8px 10px;
	background-color:#FFFFFF;
	
}

.simple-tree .popup-panel-tree-item {
	
	border-bottom:1px solid #dedede;
	padding-bottom:2px;
	
}

.simple-tree .popup-panel-tree-item a {
	
	font-size: 0.7em;
	position: relative;
	top: -1px;
	left: 1px;
	color: #4c4c4e;
	font-weight:700;
	
}

.simple-tree .popup-panel-tree-item a:hover {
	
	text-decoration:none;
	
}

.simple-tree-pm-button {
	
	position:relative;
	display:block;
	top:1px !Important;
	float:right;
	font-size:13px !Important;
	margin-top:2px;
}

.popup-panel-tree-item-header {

	cursor:pointer;

}

.popup-panel-tree-item-subpanel {
	
	display:none;
	
}

.popup-panel-tree-item-subpanel ul {

    padding: 0px 0px 0px 12px;
    margin: auto auto 8px 8px;
    border-left: 1px solid #ccc;
    list-style-type: none;

}
	
.popup-text {
	
	color:#333333;
	
}

.popup-text-active {
	
	color:#31cbfd !Important;
	
}

.popup-icon {
	
	color:#828282;
	
}

.popup-icon-active {
	
	color:#31cbfd !Important;
	
}

.popup-panel-tree-item-subpanel li {
	
	font-weight: 400;
	font-size: 0.8em;
	color: #828282;
	padding:2px 0;
	
}

.popup-panel-content {
	
	width:100%;
	height:100%;
	padding:10px;
	background-color:#FFFFFF;
	overflow:auto;
	
}

.popup-panel-content .image {
	
	border-radius:3px;
	
}

.popup-panel-content .title {
	
	font-weight:700;
	font-size:16px;
	margin:10px 0;
	
}

.popup-panel-content .button {
	
	background-color: #333333;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 13px;
	height: 29px;
	line-height: 29px;
	border-radius: 3px;
	text-align:center;
	width:100%;
	display:block;
	
}

.popup-panel-content .button:hover {
	
	text-decoration: none !Important;
	color: #FFFFFF !Important;
	background-color: #3c3c3c;
	
}