.popup {

	position:absolute;
	z-index:1000;
	width:100%;
	top:20%;
	display:none;

}

.popup-col, .popup-row {
	
	padding:0 !Important;
	margin:0 !Important;
	
}

.popup-header {
	
	cursor:move;
	
}

.popup-nav {
	
	display:inline-block;
	
}

.popup-nav-right {
	
	float:right;
	
}
		
.popup-header {
	
	background-color:#4c4c4e;
	border-radius:3px;
	height:40px;
	padding:0 10px;
	
}
		
.popup-dark .popup-header{
	
	background-color:RGBA(33,33,33,0.6);
	color:#4c4c4e;
	border-radius:3px;
	height:40px;
	padding:0 10px;
	
}

.popup-header-li {
		
	display:inline;
	margin:7px 5px 0 0;
	padding:0;
	
}

.popup-header-button {
		
	background-color:#333333;
	color:#FFFFFF;
	font-family:"Gotham bold";
	font-size:13px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border-radius:3px;
	
}

.popup-dark .popup-header-button {
		
	color:#333333;
	background-color:transparent;
	color:#FFFFFF;
	font-family:"Gotham bold";
	font-size:13px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border-radius:3px;
	
}

.popup-dark .popup-row {
	
	background-color:RGBA(33,33,33,0.6);
	color:#FFFFFF;
	
}

.popup-header-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#3c3c3c;
	
}

.popup-header-button-active {

	background-color:#31cbfd;
	
}

.popup-header-button-active:hover {

	color:#FFFFFF !Important;
	text-decoration:none !Important;
	background-color:#31cbfd;
	
}

.popup-header-button-active-fixed {

	color:#FFFFFF !Important;
	text-decoration:none !Important;
	background-color:#31cbfd !Important;
	
}

.popup-header-button-active-fixed:hover {

	opacity:0.5;
	text-decoration:none !Important;
	
}

.popup-panel-content {
	
	font-size:12px;
	font-family:"Gotham light";
	
}

.popup-panel-tree {
	
	background-color:#ffffff;
	
}

.popup-panel-tree-header {
	
	padding:8px 10px;
	background-color:#e3e3e3;
	color:#333333;
	
}

.popup-panel-tree-content {	
	
	padding:8px 10px;
	background-color:#FFFFFF;
	
}

.simple-tree .popup-panel-tree-item {
	
	border-bottom:1px solid #dedede;
	padding-bottom:2px;
	
}

.simple-tree .popup-panel-tree-item a {
	
	font-size: 0.7em;
	position: relative;
	top: -1px;
	left: -3px;
	color: #4c4c4e;	
	font-family:"Gotham Bold";
	
}

.simple-tree .popup-panel-tree-item a:hover {
	
	text-decoration:none;
	
}

.simple-tree-pm-button {
	
	position:relative;
	display:block;
	top:1px !Important;
	float:right;
	font-size:13px !Important;
	margin-top:2px;
}

.popup-panel-tree-item-header {

	cursor:pointer;

}

.popup-panel-tree-item-subpanel {
	
	display:none;
	
}

.popup-panel-tree-item-subpanel ul {

    padding: 0px 0px 0px 12px;
    margin: auto auto 8px 8px;
    border-left: 1px solid #ccc;
    list-style-type: none;

}

.popup-text {
	
	color:#333333;
	
}

.popup-text-active:not(i) {
		
	font-family:"Gotham bold";
	color:#31cbfd !Important;
	
}

.popup-icon {
	
	color:#828282;
	
}

.popup-icon-active {
	
	color:#31cbfd !Important;
	
}

.popup-panel-tree-item-subpanel li {
	
	font-family:"Gotham Light";
	font-size: 0.8em;
	color: #828282;
	padding:2px 0;
	
}

.popup-panel-content {
	
	width:100%;
	height:100%;
	padding:10px;
	background-color:#FFFFFF;
	overflow:auto;
	
}

.popup-panel-content .image {
	
	border-radius:3px;
	
}

.popup-panel-content .title {
	
	font-family:"Gotham Bold";
	font-size:18px;
	margin:20px 0 13px 0;
	
}

.popup-panel-content .button {
	
	background-color: #333333;
	color: #FFFFFF;
	font-family:"Gotham bold";
	font-size: 13px;
	height: 29px;
	line-height: 29px;
	border-radius: 3px;
	text-align:center;
	width:100%;
	display:block;
	
}

.popup-panel-content .button:hover {
	
	text-decoration: none !Important;
	color: #FFFFFF !Important;
	background-color: #3c3c3c;
	
}

#gfi-info-table {
	
	width:93%;
	
}

.popup-table {
	
	
	
}

.popup-table tr td {
	
	border-top:1px solid white;
	border-left:1px solid white;
	
}

.popup-table tr td:last-child {
	
	border-right:1px solid white;
	
}

.popup-table tr:last-child td {
	
	border-bottom:1px solid white;
	
}