.scrollbar-content {
	
	position:relative;
	width:100%;
	height:100px;
	margin:0px auto;
	overflow:auto;
	/*margin-bottom:20px;*/
	
}

.scrollbar-content .scrollbar-content-inner {
	background-image: url('./assets/azusa.jpg');
	width: 99%;
	height: 720px;
}

.ps__rail-x,
.ps__rail-y {
	opacity: 0.6;
}

#scrollbar-content-basic-1 {
	
	height:170px;
	
}

#scrollbar-content-basic-2 {
	
	height:160px;
	
}

#scrollbar-content-basic-3 {
	
	height:300px;
	
}