html,
body {
    height: 100%;
    background-color: #333333 !important;
    font-family: 'Gotham Book', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: block !important;
    background-color: #333333 !important;
    z-index: 10 !important;
}

.navbar-brand {
    margin-left: 1rem !important;
    color: #FFFFFF !important;
    top: 3px;
    position: relative;
    font-weight: 700;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none !important;
    border-right: 2px #464646 solid !important;
    color: #31cbfd !important;
}

.navbar .dropdown-toggle::after {
    color: #31cbfd !important;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar-right .nav-item {
    display: inline-block !important;
}

.nav-link-button {
    color: #34ccfe !important;
    margin: 0 0.3em !important;
    width: 2.8em;
    background-color: #4a4849;
    text-align: center;
    border-radius: 3px;
    position: relative;
    top: 1px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(52, 204, 254, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.nav-title-label {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 0 0.9em;
    position: relative;
    top: -2px;
}

.nav-link-death {
    cursor: text !important;
    color: rgba(255, 255, 255, .5) !important;
}

.nav-link-death:hover {
    text-decoration: none !important;
    color: rgba(255, 255, 255, .5) !important;
}

.nav-link-separator {
    opacity: 0.5;
}

.navbar ul li a {
    font-size: 12px !important;
}

.navbar .dropdown-toggle {
    color: #FFFFFF !important;
}

.flex-fill {
    flex: 1;
}

#nav-1 .nav-item-search a {
    width: auto;

    input[type=text] {
        background-color: transparent;
        border: none;
        color: #fff;
        border-left: solid 1px #666;
        margin-left: .6em;
        padding: 0px .6em;
        line-height: auto;
    }

    ::placeholder {
        color: #fff;
        opacity: .8;
    }
    
    :focus {
        outline: none;
    }
}

.page {
    background-color: #ccc;

    .page-section-1 {
        color: #fff;
        background-color: #666;
        padding: 8px 24px;
    }
    
    .page-section-2 {
        text-align: center;
        padding: 24px;
        padding-bottom: 0px;
    
        h3 {
            color: #31cbfd;
            font-weight: bolder;
            font-size: 1.6em;
        }
    }
    
    .page-section-3 {
        height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    
    .page-section-4 {
        text-align: center;
        padding: 24px;
    }
    
    .page-box {
        text-align: center;

        .page-box-image {
            width: 100%;
            height: 260px;
            background-color: #333;
        }
    }


}

#page_herramientas {
    background-color: #fff;

    .page-section-2 {
        background-color: #eee;
        padding: 20px 40px;
        margin-top: 10px;
        margin-bottom: 10px;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99999;

    }

    .box {
        border: solid 1px #ccc;
        padding: 4px;
        height: 460px;
        border-radius: 4px;
        margin-bottom: 20px;
        cursor: pointer;

        .page-box-image {
            width: 100%;
            height: 240px;
            background-color: #333;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-bottom: 10px;
        }

        .page-box-title {
            font-size: 1em;
            font-weight: bolder;
        }

        .page-box-description {
            font-size: .9em;
            padding: 10px;
        }
    }

    .page-box-image2 {
        width: 100%;
        height: 200px;
        margin: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .box:hover {
        background-color: #8e2f4f; 
        color: #fff;        
    }

    .wbox {
        text-align: center;
        height: 260px;
        border: solid 1px #ccc;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .page-wbox-title {
        font-size: 1.4em;
        font-weight: bold;
    }

    .page-wbox-description {
        font-size: .8em;
    }



}

#page_index {
    @carousel_height: 400px;
    @modulo_height: 300px;

    #main-slider {
        .carousel-inner {
            max-height: @carousel_height;
        } 
        
        .carousel-item {
            img { opacity: .7; }
        }

        .carousel-indicators > li {
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-left: 6px;
            margin-right: 6px;
        }

        .carousel-caption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 2.2em;
            font-weight: bolder;
            color: #fff;
            opacity: .9;
            padding: 0px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: @carousel_height;
        }

        .carousel-control-prev {
            opacity: 1;
            color: #fff;
            font-size: 3em;
        }

        .carousel-control-next {
            opacity: 1;
            color: #fff;
            font-size: 3em;
        }
    }

    .modulo-wrap {
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .modulo-opacity {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        background-color:#333;
    }

    .modulo-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }

    .modulo-hover-icon {
        display: block;
        color: #3cf;
        margin-top: 1em;
    }
    
    .modulo-hover-text {
        text-align: center;
        padding: 1em 3em;
        transition: .2s;
        transform: translateX(-1em);
    }
    
    .modulo-wrap:hover .modulo-hover {
        visibility: visible;
        opacity: 1;
    }
    
    .modulo-wrap:hover .modulo-hover-text {
        transform: translateX(0);
    }

    .modulo-row {
        min-height: @modulo_height;
    }

    .modulo-text {
        font-size: 1.5em;
        font-weight: bolder;
        padding: 1em 1em;
        color: #fff;
        text-align: center;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }

    .modulo-1 {
        background-image: url(../images/index/modulo1.jpg);
        min-height: @modulo_height;
    }
    .modulo-2 {
        background-image: url(../images/index/modulo2.jpg);
        min-height: @modulo_height;
    }
    .modulo-3 {
        background-image: url(../images/index/modulo3.jpg);
        min-height: @modulo_height;
    }
    .modulo-4 {
        background-image: url(../images/index/modulo4.jpg);
        min-height: @modulo_height / 2;
    }
    .modulo-5 {
        background-image: url(../images/index/modulo5.jpg);
        min-height: @modulo_height / 2;
    }
    .modulo-6 {
        background-image: url(../images/index/modulo6.jpg);
        min-height: @modulo_height / 2;
    }
    .modulo-7 {
        background-image: url(../images/index/modulo7.jpg);
        min-height: @modulo_height / 2;
    }
    .modulo-8 {
        background-image: url(../images/index/modulo8.jpg);
        min-height: @modulo_height;
    }
    .modulo-9 {
        background-image: url(../images/index/modulo9.jpg);
        min-height: @modulo_height;
    }
    .modulo-10 {
        background-image: url(../images/index/modulo10.jpg);
        min-height: @modulo_height;
    }
    .modulo-11 {
        background-image: url(../images/index/modulo11.jpg);
        min-height: @modulo_height;
    }

    .side-right {
        padding: 40px 60px 20px 40px;

        .link-wrap {
            position: relative;
            background-color: #747474;
            min-height: @modulo_height - 80px;
            margin-bottom: 80px;
        }

        .link-text {
            font-size: 1.2em;
            font-weight: bolder;
            padding: .5em .5em;
            color: #fff;
            position: relative;
            float: left;
            text-align: center;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);        
        }
    
        .link-hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #dedede;
            color: #333;
            visibility: hidden;
            opacity: 0;
            display: flex;
            transition: opacity .2s, visibility .2s;
            font-weight: bolder;
        }
        
        .link-hover-text {
            padding: 1em 1em;
            transition: .2s;
            transform: translateX(-1em);
        }
    
        .link-wrap:hover .link-hover {
            visibility: visible;
            opacity: 1;
        }
        
        .link-wrap:hover .link-hover-text {
            transform: translateX(0);
        }
        
        .link-1 {
            box-shadow: 20px -20px 0px #fea91a;
        }

        .link-2 {
            box-shadow: 20px -20px 0px #8e2f4f;
        }

        .link-3 {
            box-shadow: 20px -20px 0px #585dc5;
        }

        .link-4 {
            box-shadow: 20px -20px 0px #330033;
        }
    }
}

#page_mediateca {
    background-color: #fff;

    .page-title {
        background-color: #000;
        padding: 10px 30px;
        color: #fff;
        font-size: 1.4em;

    }

    .page-search {
        background-color: #ddd;
        padding: 30px 30px 10px 30px;

    }

    .nav-tabs {
        background-color: #ddd;

        .nav-link {
            background-color: #fff;
            margin-left: 10px;
            font-weight: bolder;
            padding: 10px 30px;
        }

        .active {
            background-color: #bbb;
        }
    }
    
    #uxFiltersChecked {
        padding: 10px 0px; 

        .btn {
            margin-bottom: 4px;
        }
    }

    .filters-header {
        padding: 10px 20px ; 
        font-weight: bolder;
        color: #fea91a;
    }

    #uxFilters {
        padding: 0px 0px 10px 10px; 

        .card {
            border: none;
        }

        .card-header {
            padding: 0px;
            background-color: #fff;
            border-top: 1px solid #f0f0f0!important;
            border-bottom: 1px solid #f0f0f0!important;
        }

        .card-body {
            padding: 0px;
        } 
    
        .group-title {
            font-weight: bolder;
            color: #333;
            text-decoration: none;
        }

        .filters-group-item {
            margin: 0px;
            padding: 4px 14px 8px 14px;
        }

        .list-group-item {
            border: none;
            border-bottom: solid 1px #ccc;
        }

        .list-group-item-action {
            border: none;
        }
    }

    .doc {
        padding: 20px;
        margin-right: 20px;

        .doc-icon {
            height: 40px;
            width: auto;
        }

        .doc-authors {
            font-weight: bolder;
            padding: 10px 0px;
        }

        .doc-title {
            font-size: 1.2em;
            font-weight: bolder;
            cursor: pointer;
        }

        .doc-links {
            padding-top: 20px;

            .btn-dark {
                color: #fff;
            }
            
            .btn:hover {
                border-color: #fea91a;
                background-color: #fea91a;
            }
        }
    }

    .media-preview {
        padding: 20px;
        color: #fff;
        background-color: #333;
        height: 300px;
        margin-bottom: 20px;

        .preview-datos {
            font-size: .7em;

            .preview-title {
                font-size: 1.4em;
                color: #fea91a;
            }

            .preview-estudio {
                font-size: 1.2em;
                color: #fea91a;
                margin-bottom: 6px;
            }

            .preview-imagenes {
                margin-top: 10px;
                margin-bottom: 10px;
            }

        }
    }



    .modal-body {
        padding: 20px 40px!important;
        background-color: #ddd;

        .ficha-title {
            font-size: 2em;
            font-weight: bolder;
        }

        div {
            margin-bottom: 5px;
        }

        .ficha-proyecto {
            font-weight: bolder;
        }

        .ficha-description {
            padding: 10px 0px 20px;
        }
    }
}

.footer {
    @carousel_height: 200px;

    padding: 1em 2em;
    color: #fff;

    #footer-slider {
        .carousel-inner {
            max-height: @carousel_height;

            a { color: #fff;}
        } 

        .carousel-indicators {
            top: 120px;
            left: -180px!important;
        }

        .carousel-indicators > li {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin-left: 4px;
            margin-right: 4px;
        }

        .carousel-control-prev {
            opacity: 1;
            color: #fff;
            font-size: 1em;
            top: 122px;
        }

        .carousel-control-next {
            opacity: 1;
            color: #fff;
            font-size: 1em;
            top: 122px;
            left: 64px;
        }
    }

    .social-media {
        text-align: center;

        .fab {
            color: #ccc;
            background: #222;
            padding: 20px;
            font-size: 20px;
            width: 60px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
          }
          
          .fab:hover {
            color: #fff;
            background: #444;
          }
    }
}


.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;

    .item-paneles {
        background-color: brown;
    }

    .item-acciones {
        background-color: cadetblue;
    }

    .grid-paneles {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
    }

}


@media (max-width: 680px) {
    @carousel_height: 250px;

    #navIcons {
        display: none!important;
    }

    .side-right {
        padding: 40px 60px 20px 40px;
    }

    .footer .social-media {
        text-align: left;
    }
    
    .carousel-inner {
        max-height: @carousel_height!important;
    } 

    .carousel-caption {
        font-size: 1.4em!important;
        height: @carousel_height!important;
    }

    .side-right {
        padding: 0px;
    }
}


