#print-view {
	
	width:100%;
	min-height:100%;
	padding:40px;
	position:fixed;
	top:0;
	left:0;
	background-color:#FFFFFF;
	display:none;
	z-index:9999999999;
	
}

#close-print {
	
	position:absolute;
	right:20px;
	top:0px;
	z-index:10;
	
}

#close-print:hover {
	
	opacity:0.7;
	
}

#close-print i {
	
	color:#343a40;
	font-size:24px;
	
}
