.widget-link {

	position:fixed;
	width:20px;
	height:40px;
	margin-bottom:20px;
	z-index:200000;

}

.widget-link-unhovered {

	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:20px;
	
}

.widget-link-hovered {

	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width:40px;
	
}

.widget-link a {

	width:100%;
	height:100%;
	display:block;

}

.widget-link:last-child {

	margin-bottom:0px;

}