.widget-link {
    position: fixed;
    width: 20px;
    height: 40px;
	line-height:40px;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 10px;
    z-index: 1200000;
	font-size:12px;
	padding-left:20px;
	cursor:pointer;
}

.widget-link:hover {
	
	color:#FFFFFF !important;
	
}

.widget-link-unhovered {
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
    width: 20px;
}

.widget-link-hovered {
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
    width: 120px;
}

.widget-link a {
    width: 100%;
    height: 100%;
    display: none;
}

.widget-link a img {
    width: 40px;
    height: auto;
}

.widget-link:last-child {
    margin-bottom: 0px;
}