.blue-button {
	
	background-color: #31cbfd;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif !Important;
    font-size: 12px;
    padding: 5px 10px;
	width:100%;
	height:100%;
	text-align:center;
	border-radius:.25rem;
	
}

.blue-button:hover {

	text-decoration:none !Important;
	color:#464542 !Important;	
	background-color:#EFEFEF;
	border:solid 1px #464542;
	
}

.blue-button span {
	
	height:10px;
	position:relative;
	top:50%;
	margin-top:-10px;
	display:block;
	
}

.black-button {
	
	background-color: #343a40;
    color: #FFFFFF !Important;
    font-family: "Montserrat", sans-serif !Important;
    font-size: 12px;
    padding: 10px 20px;
	width:100%;
	height:100%;
	text-align:center;
	border-radius:.25rem;
	
}

.black-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#31cbfd;
	
}

.white-button {
	
	background-color:#ffffff;
	border: 1px solid #212529;
	color: #212529 !Important;
    font-family: "Montserrat", sans-serif !Important;
    font-size: 12px;
    padding: 10px 20px;
	width:100%;
	height:100%;
	text-align:center;
	border-radius:.25rem;
	
}

.white-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#31cbfd;
	border: 1px solid #31cbfd;
	
}

.flink {
	
	display:none !important;
	
}