.form-group {

	width:100%;
	border-radius:1px;
	border:1px solid #cccccc;
	padding:5px 3%;
	font-size:12px;
	color:#898989;
	text-align:left;
	margin:0;

}

#page_contacto form .form-group {
	
	border:none !Important;
	
}

.form-group-button {
	
	padding:0;
	width:100%;
	height:100%;
	border:none;
	
}

.form-group .col {
	
	text-align:left;
	
}

.form-group i {
	
	margin-left:10px;
	font-size:14px;
	
}

.form-group-dark-big-input {
	
	background-color:#29363c;
	border-radius:3px;
	border:none;
	
}

.form-group-dark-big-input i {
	
	color:#FFFFFF;
	
}

.form-group-dark-big-input input[type=text] {
	
	background:transparent;
	border:none;
	font-size:14px;
	color:#FFFFFF;
	font-weight:700;
	
}

.selectpicker {
	
	background:white;
	font-size:12px;
	
}

.filter-option-inner-inner {
	
	font-size:12px;
	
}

.dropdown-menu li {
	
	font-size:12px;
	
}

.bootstrap-select {
	
	height: 20px;
	position: relative;
	top: -6px;
	
}

.btn-light:not(#dataset-view .dropdown-toggle) {
	
	background-color:transparent !important;
	
}

.btn-light, .btn-light:hover, .btn-light:focus, .btn-light:active {
	
	border:none !important;
	
}