#template-wrapper {
	
	background-color:#FFFFFF;
	padding:35px 50px;
	
}

#template-wrapper .col {
	
	padding:10px;
	border:1px solid #CCCCCC;
	
}

.indicadores-table {
	
	
	
}

.indicadores-table tr th {
	
	font-size: 12px;
    font-weight: bolder;

}

.indicadores-table tr td {
	
	font-size: 12px;
    font-weight: 400;

}