body {
	
	background-color:#f9f9f9;
	
}

#template-wrapper {
	
	background-color:#f9f9f9;
	padding:35px 50px;
	
}

#template-wrapper .resource-col {
	
	padding:20px;
	
}

#template-wrapper .resource-col .resource-inner {
	
	border:1px solid #CCCCCC;
	width:100%;
	height:100%;
	border-radius:3px;
	padding:30px;
	background-color:white;
	
}

.resource-col {
	
	position:relative;
	
}

.indicadores-table {
	
	min-width:100%;
	background-color:#FFFFFF;
	
}

.indicadores-table tr th {
	
	font-size: 12px;
    font-weight: bolder;	
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:11px;

}

.indicadores-table tr th:last-child {
	
	border-right:1px solid #ccc;

}

.indicadores-table tr td {
	
	font-size: 12px;
    font-weight: 400;
	padding:11px;

}

.indicadores-table tr td {
	
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;

}

.indicadores-table tr:last-child td {
	
	border-bottom:1px solid #ccc;

}

.indicadores-table tr td:last-child {
	
	border-right:1px solid #ccc;

}

.indicador-icono-ficha {
	
	position:absolute;
	right: 30px;	
	bottom: 30px;
	
}

.indicador-icono-ficha:hover {
	
	opacity:0.7;
	
}

#popup-fmetodologica .jump-window-header {
	
	background-color:#FFFFFF;
	color:#595ec6;
	cursor:default;
	
}

#popup-fmetodologica .jump-window-header hr {
	
	position:relative;
	top:10px;
	width:95%;
	background-color:#FFFFFF;
	color:#595ec6;
	
}

#popup-fmetodologica .jump-window-header .jump-window-close {
	
	color:#4f4d4e;
	position: relative;
	left: 35px;
	top: -12px;
	
}

#popup-fmetodologica .jump-window-icon {
	
	color:#666666;
	position: relative;
	top: 5px;
	padding: 1px;
	
}

#popup-fmetodologica .jump-window-icon:hover {
	
	opacity:0.7;
	
}

#popup-fmetodologica {
	
	position:absolute;
	top:50%;
	left:50%;
	height:300px;
	width:600px;
	margin-left:-300px;
	margin-top:-150px;
	
}

#ficha-metodologica-titulo-prev {
	
	position: relative;
	top: 10px;
	
}

#ficha-metodologica-titulo {
	
	position: relative;
	top: 12px;
	left: 12px;
	
}

.indicadores-icon-bar p {
	
	margin-bottom:2px;
	
}

.indicadores-icon-bar p a {
	
	position:relative;
	
}

.indicadores-icon-bar p a:hover {
	
	opacity:0.7;
	
}