#template-wrapper {
	
	background-color:#FFFFFF;
	padding:35px 50px;
	
}

#template-wrapper .col {
	
	padding:10px;
	border:1px solid #CCCCCC;
	
}

.resource-col {
	
	position:relative;
	
}

.indicadores-table {
	
	min-width:100%;
	
}

.indicadores-table tr th {
	
	font-size: 12px;
    font-weight: bolder;	
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:11px;

}

.indicadores-table tr th:last-child {
	
	border-right:1px solid #ccc;

}

.indicadores-table tr td {
	
	font-size: 12px;
    font-weight: 400;
	padding:11px;

}

.indicadores-table tr td {
	
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;

}

.indicadores-table tr:last-child td {
	
	border-bottom:1px solid #ccc;

}

.indicadores-table tr td:last-child {
	
	border-right:1px solid #ccc;

}

.indicador-icono-ficha {
	
	position:absolute;
	right:10px;
	bottom:10px;
	
}

#popup-fmetodologica .jump-window-header {
	
	background-color:#FFFFFF;
	color:#595ec6;
	
}

#popup-fmetodologica .jump-window-header hr {
	
	position:relative;
	top:10px;
	width:95%;
	background-color:#FFFFFF;
	color:#595ec6;
	
}

#popup-fmetodologica .jump-window-header .jump-window-close {
	
	color:#4f4d4e;
	position: relative;
	left: 35px;
	top: -12px;
	
}

#popup-fmetodologica .jump-window-icon {
	
	color:#666666;
	position: relative;
	top: 5px;
	padding: 1px;
	
}

#popup-fmetodologica {
	
	position:absolute;
	top:50%;
	left:50%;
	height:300px;
	width:600px;
	margin-left:-300px;
	margin-top:-150px;
	
}

#ficha-metodologica-titulo-prev {
	
	position: relative;
	top: 10px;
	
}

#ficha-metodologica-titulo {
	
	position: relative;
	top: 12px;
	left: 12px;
	
}