#layers-wrapper {
	
	width:100%;
	display:flex;
	
}

.layer-container {
	
	width: 100%;
	/*border:2px solid;*/
	display:none;
	
}

.layer-group {
	
	display:none;
	border-bottom:solid 1px #f5f5f5;
	
}

.layer-header, .layer-container-header {
	
	min-height:34px;
	color:#FFFFFF;
	
}

.layer-header a, .layer-container-header a {
	
	left: 10px;
	color: #888;
	font-weight: 300;
	display: inline-flex;
	
}

.layer-header a:hover, .layer-container-header a:hover {
	
	text-decoration:none;
	
}

.layer-label-active {
	
	color:#31cbfd !important;
	
}

.layer-header span, .layer-container-header span:not(.abr-layer-count) {
	
	position:relative;
	top:2.5px;
	left:13px;
	font-family:"Montserrat",sans-serif;
	font-size: 13px;
	font-weight: bolder;
	
}
/*
.layer-header span {
		
	font-style:italic;
	
}
*/
.layer-header .layer-label:hover {
	
	opacity:0.8;
	
}

.abr-layer-count{
	
	font-size:13px;
	font-family:"Montserrat",sans-serif;
	font-weight:400;
	
}

.layer-header .pretty,.layer-container-header .pretty, .active-layer-node .pretty {
	
	position:relative;
	left:9px;
	top:3px;
	width:15px;
	
}

.layer-header .simple-tree-pm-button {
	
	left:-10px;
	margin-top:8px;
	
}

.layer-header .simple-tree-pm-button i {
	
	color:#666666;
	
}

.layer-body {
	
	display:none;
	margin-left:10px;
	font-size:12px;
	
}

.layer-legend {
	
	margin:15px 0;
	
}

.layer-legend img {
	
	max-height:100%;
	
}

.layer-opacity,.layer-colorpicker, .layer-buffer {

    padding: 0 10px 10px 10px;
    background: #d6d6d6;
    margin: 20px 10px 0 0;
	display:none;
	border-radius:3px;

}

.layer-opacity label, .layer-buffer label {
	
	color:#646464;
	
}

.layer-buffer input[type=text] {
	
	padding: 5px;
	border: none;
	margin-right: 10px;
	width: 200px;
	
}

.opacity-bullet-content {
	
	width:24px;
	height:14px;
	overflow:hidden;
	position:relative;
	left: 173px;
	top: -14px;
	
}

.opacity-bullet {
	
	width:14px;
	height:14px;
    background: RGBA(0,0,0,0.2);
	transform: rotate(45deg);
	position: relative;
	top: 8px;
	left: 2px;
	
}

.colorpicker-bullet-content {
	
	width:24px;
	height:14px;
	overflow:hidden;
	position:relative;
	left: 117px;
	top: -14px;
	
}

.colorpicker-bullet {
	
	width:14px;
	height:14px;
    background: RGBA(0,0,0,0.2);
	transform: rotate(45deg);
	position: relative;
	top: 8px;
	left: 2px;
	
}

.getbufferdist {
	
	color:#666666;
	
}

.layer-buffer .pretty .state i {

    color: #666666;

}

.buffer-bullet-content {
	
	width:24px;
	height:14px;
	overflow:hidden;
	position:relative;
	left: 230px;
	top: -14px;
	
}

.buffer-bullet {
	
	width:14px;
	height:14px;
    background: RGBA(0,0,0,0.2);
	transform: rotate(45deg);
	position: relative;
	top: 8px;
	left: 2px;
	
}

.layer-basico-container {
	
	background-color:transparent;
	
}

#layer-title, #layer-desc {
	
	color:white;
	
}

#layer-desc {

	margin-top:20px;
	text-align:justify;
	
}

.transp-value {

    background: none;
    color: #646464;
    float: right;
    width: 36px;

}

.layer-icons {
	
	margin-top:10px;
	
}

.layer-icon {
	
	height:24px;
    background: RGBA(0,0,0,0.2);
	width:46px;
	border-radius:3px;
	margin-left:7px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	cursor:pointer;
	line-height:22px;
	
}

.layer-icon:hover {
	
	opacity:0.5;
	
}

.layer-icon:first-child {
	
	margin-left:0px;
	
}

.layer-icon a {
	
	width:100%;
	height:100%;
	display:block;
	
}

#abr-container {
	
	width:40px;
	display:inline-flex;
	flex-direction: column;
	background-color:white;
	
}

#layers-container {
	
	display:inline-flex;
	flex-grow:1;
	background-color:#FFFFFF;
	
}

.layer-group .layer-header .pretty i , .active-layer-node .pretty i {

    color: #888;

}

.abr {
	
	width:100%;
	height:34px;
	text-align:center;
	line-height:32px;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
	font-family:"Montserrat",sans-serif;
	font-size:16px;
	display:none;
	color:#FFFFFF;
	margin-bottom:1px;
	
}

.abr-green {
	
	border-color:green;
	
}

.abr-cloned {
	
	display:inline-block !important;
	vertical-align:top;
	cursor:default !important;
	background-color:rgb(245, 245, 245);
	
}

#layer-bullet {

    position: absolute;
    left: 0px;
    width: 36px;
    height: 36px;
	color:#FFFFFF;
	background-color:#31cbfd;
    z-index: 20;
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
	cursor:pointer;
	z-index:90001;
	margin-top:20px;
	
}

#layer-bullet:hover {
	
	opacity:0.5;
	color:#FFFFFF;

}

.layer-bullet-opened {
	
	margin-right:-36px;
	
}

.layers-visible-count {
	
	color: white;
	font-size: 12px;
	
}

.active-layer-node {

    height: 36px;
    line-height: 28px;

}

.active-layer-node .layer-label {
	
	left: 10px;
	color: #888;
	font-weight: 300;
	display: inline-flex;
	position:relative;
	top:3px;
	font-weight:400;
	width:63%;
	
}

.active-layer-node .remove-layer-icon-ca {
	
	margin:7px 15px 7px 7px;
	
}

.active-layer-node .zoomext-layer-icon-ca {
	
	margin:7px 15px 7px 7px;
	width:auto;
	padding:0;
	float:right;
	background:none;
}