#map {

	width:100%;
	margin:0;
	padding:0;
	display:block;
	position:relative;
	top:-6px;
	
}

#mini-map {

	width:100%;
	height:220px;
	margin:0;
	padding:0;
	display:block;
	position:relative;
	
}

#bottom-tools {
	
	width:50px;
	position:fixed;
	bottom:20px;
	right:6px;
	
}

#bottom-tools .nav-item {
	
	margin-bottom:5px;
	
}

#bottom-tools .nav-item:last-child {
	
	margin-bottom:0px;
	
}

#info-baselayers {
	
	font-size:18px;
	
}

#info-baselayers .state label {
	
	color:#FFFFFF !important;
	font-size:12px;
	
}

#print-legend-wrapper {
	
	top: 25px;
	left:20px;
	height:91%;
	background: rgba(255,255,255,0.6);
	position: absolute;
	display:none;
	padding:0 20px;
	
}