body {
	
	background-color:#ffffff !important;
	
}

#dataset-view {
	
	background-color:#fff;
	padding:50px 20px;
	display:block;
	width: 100%;
	
}

#dataset-wrapper {	
	
	display:flex;
	flex-direction:column;
	margin-top:30px;
	width:100%;
	overflow-x: auto;
	
}

#dataset-inner {
	
	margin-left:5px;
	
}

#dataset-view .jump-row:nth-child(1) {
	
	justify-content:space-between;
	
}

#dataset-view .black-button {
	
	padding:10px 50px !Important;
	
}

/*31cbfd*/
.dataset-agroup .dropdown-toggle {
	
	color:#FFF;
	background-color:#31cbfd !Important;
	padding:10px;
	
	
}

/*31cbfd*/
#dataset-view .dropdown-toggle:not(.dataset-agroup .dropdown-toggle) {
	
	color:#325174;
	background-color:#ddf2f5 !Important;
	padding:10px;
	
	
}

#dataset-view .date-filters {
	
	float:right;
	margin-left: 20px;
	border-left: 1px solid #dadada;
	
}

#dataset-view .date-filters ul {
	
	margin:0;
	
}

#dataset-view .date-filters ul, #dataset-view .pagination ul {
	
	list-style-type:none;
	
}

#dataset-view .date-filters ul li, #dataset-view .pagination ul li {
	
	display:inline-block;
	/*border:1px solid #ccc;*/
	padding:5px;
	font-size: 13px;
	font-weight: bolder;
	
}

#dataset-view .pagination ul li {
	
	display:inline-block;
	border:none;
	
}

#dataset-view .pagination ul li a {
	
	color:#212529;
	
}

.dataset-agroup ul li a, .dataset-agroup ul li a.active {
	
	color:#212529;
	
}

.dataset-agroup ul li a:hover, .dataset-agroup ul li a.active:hover {
	
	color:#212529;
	
}

#dataset-view .pagination ul li a:hover {
	
	opacity:0.5;
	
}

#dataset-view .date-filters ul li input {
	
	border:none;
	font-size:12px;
	font-weight:400;
	
}

#dataset-view .date-filters i {
	
	color:#31cbfd;
	
}

.dataset-row .dropdown-toggle {
	
	width: 130px;
	height: 32px;
	padding: 0;
	position: relative;
	left: -10px;
	border-radius: 0px;
	background-color:#dff3ff;
	
}

.dataset-row .filter-option-inner-inner {
	
	color:#325174;
	margin:0px;
	
}

#dataset-view .dropdown-menu {
	
	background-color:#dff3ff;
	
}

.dataset-row .dropdown-item {
	
	color:#325174;
	
}

#dataset-view .dropdown-item:hover {
	
	background-color:#FFFFFF;
	
}

#dataset-view .dropdown-item.active, .dropdown-item:active {
	
	background-color:#d0e2ee;
	color:#343a40;
	
}

.dataset {
	
	width:100%;
	display:flex;
	flex-direction:column;
	
}

.dataset-row {
	
	width:100%;
	min-height:32px;
	display:flex;
	
}

.dataset-row-header {
	
	width:100%;
	height:32px;
	display:flex;
	
}

.dataset-cell-header input {
	
	text-transform:uppercase;
	
}

.dataset-row .dropdown-toggle .filter-option-inner {
	
	position: relative;
	left: 0px;
	top:-4px;
	
}

.dataset-cell {
	
	width:130px;
	max-height:100%;	
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	padding:10px;
	display:inline-flex;
	vertical-align:top;
	align-items:center;
	margin-left:-4px;
	flex-grow:1;
	position:relative;
	text-transform:uppercase;
	flex-shrink:0;
	
}

.dataset-cell-modal {
	
	background: rgba(50,50,50,0.1);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0px;
	
}

.dataset-cell-modal-agroup {
	
	background: rgba(0,0,0,0.3) !Important;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0px;
	
}

.dataset-cell:last-child {
	
	border-right:1px solid #ccc;
	
}

.dataset-row:last-child .dataset-cell {
	
	border-bottom:1px solid #ccc;
	
}

.dataset-cell-header {
	
	font-size:12px;
	justify-content:space-between;
	
}

.dataset-cell-header i {
	
	font-size:16px;
	float:right;
	
}

.dataset-cell span {
	
	width:100%;
	overflow:hidden;
	
}

.dataset-cell .dataset-header-input {
	
	width:86%;
	border:none;
	font-size: 12px;
	font-weight: bolder;
	
}

.dataset .filter-option-inner i, .dataset .filter-option-inner .filter-option-inner-inner {
	
	display:inline-block;
	vertical-align:top;
	
}

.dataset .dataset-operation-row .filter-option-inner .filter-option-inner-inner {
	
	position:relative;
	left:-15px;
	
}

.dataset .filter-option-inner i {
	
	margin:10px;
	
}

#stats-proceed {
	
	color:#31cbfd;
	
}

#stats-proceed:hover {
	
	opacity:0.8;
	
}

.view-update-wrapper {
	
	position:relative;
	
}

.view-update-wrapper i {
	
	color: white;
    position: absolute;
    left: 30px;
    top: 12px;
    font-size: 14px;
	
}

#dataset-view input[type=button] {
	
	position: relative;
	top: -1px;
	/*left: 20px;*/
	height: 36px;
	width: 230px;
	border: none;
	cursor: pointer;
	line-height: 10px;
	font-size: 12px;
	font-weight: bolder;
	
}

#dataset-view input[type=button][disabled=disabled] {
	
	border:1px solid #ccc;
	background-color:#dddddd;
	font-size:12px;
	color:#aaaaaa;
	cursor:default;
	padding:10px;
	border-radius:3px;
	position:relative;
	top:2px;
	left:20px;
	
}

.page-active {
	
	color:#31cbfd !Important;
	
}

.col-filter {
	
	width:55%;
	
}

.dataset-filter-row .dataset-cell, .dataset-operation-row .dataset-cell {
	
	background-color:#dff3ff;
	
}

#stats-proceed {
	
	color: #31cbfd;
	border: solid 2px #31cbfd;
	padding: 5px;
	font-size: 14px;
	width: 150px;
	display: block;
	text-align: center;
	font-weight: bolder;
	border-radius: 3px;
	
}

#stats-proceed:hover {
	
	opacity:0.8;
	color:#212529;
	border:1px solid #212529;
	
}

#var-desc {
	
	border: 1px solid #212529;
	padding: 10px;
	font-size: 12px;
	top: 60px;
	background-color: #f8f9fa;	
	width: 81%;
	position:relative;
	
}

#graph-types {
	
	padding: 10px;
	font-size: 12px;
	background-color: #f8f9fa;	
	width: 81%;
	
}

#var-desc {
	
	display:none;
	
}

#graph-list {
	
	width: 100%;
	
}

#graph-list .col {
	
	justify-content:center;
	align-items:center;
	height:80px;
	
}

#gm-combo-container .bootstrap-select {
	
	width: 90%;
	
}

#gm-combo-container .dropdown-toggle {
	
	width: 90%;
	border: 1px solid #212520 !important;
	padding: 10px;
	font-size: 12px;
	margin-top: 30px;
	background-color: #f8f9fa;
	
}

.bootstrap-select .btn {
	
	border:none !Important;
	
}