#nav-panel {
	
	z-index:180000 !Important;
	display:flex;
	flex-direction:column;
	overflow:visible !important;
	background-color:#ececec;
	-webkit-box-shadow: 9px 0px 20px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 0px 20px -8px rgba(0,0,0,0.75);
	box-shadow: 9px 0px 20px -8px rgba(0,0,0,0.75);
	
}

#nav-panel-arrow {
	
	position:absolute;
	top:23px;
	left:100%;
	
}

.search-wrapper {
	
	height: 34px;
	line-height: 34px;
	background-color: #4c4b4b;
	/*background-color: #31cbfd;*/
	margin-left: 20px !Important;
	margin-right: 20px !Important;
	width: 100%;
	
}

#nav-panel-inner {
	
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: calc(100% - 80px);
	position: relative;
	left: 0px;
	
}

#nav-panel .jump-row:nth-child(3) {
	
	display:flex;
	flex-grow:1;
	
}

#nav-panel .jump-row:first-child,#nav-panel .jump-row:last-child {
	
	display:flex;
	height:70px;
	
}

.panel-input {
	
	background:transparent;
	color:#FFFFFF;
	font-weight:400;
	font-size:12px;
	border:none;
	width:78%;
	
}

#panel-busqueda-geovisor {
	
	display:none;
	flex-direction:column;
	position:absolute;
	left:0px;
	top:0px;
	background-color:#FFFFFF;
	width:100%;
	height:100%;
	padding:20px;
	z-index: 999;
	
}

#panel-busqueda-geovisor .jump-row {
	
	height:auto !Important;
	
}

#panel-busqueda-geovisor .panel-close {
	
	font-size:1rem;
	font-weight:400;
	color:#343a40;
	width:20px;
	text-align:right;
	
}

#panel-busqueda-geovisor .panel-header{
	
	font-size:14px;
	font-weight:bolder;
	color:#888888;
	height:34px;
	line-height:34px;
	border-top: 1px solid #f0f0f0 !important;
	border-bottom: 1px solid #f0f0f0 !important;
	
}

#panel-busqueda-geovisor .panel-body{
	
	font-size:12px;
	font-weight:400;
	color:#666666;
	display:flex;
	padding:10px 0px;
	flex-grow:1;	
	
}

#panel-busqueda-geovisor ul li a {

    background: none;
    padding: 0;
	font-weight:400;

}

#panel-busqueda-geovisor ul li a:hover {

    opacity:0.8;
	color:#343a40;

}

.panel-highlighted-list-item {
	
	background-color:#31cbfd !Important;
	color:#ffffff;
	
}