.popup {

	position:absolute;
	z-index:1000;
	width:100%;
	top:20%;
	display:none;

}

.popup-col, .popup-row {
	
	padding:0 !Important;
	margin:0 !Important;
	
}

.popup-header {
	
	cursor:move;
	
}

.popup-nav {
	
	display:inline-block;
	
}

.popup-nav-right {
	
	float:right;
	
}
		
.popup-header {
	
	background-color:#4c4c4e;
	border-radius:3px;
	height:40px;
	padding:0 10px;
	
}
		
.popup-dark .popup-header{
	
	background-color:RGBA(33,33,33,0.6);
	color:#4c4c4e;
	border-radius:3px;
	height:40px;
	padding:0 10px;
	
}

.popup-header-li {
		
	display:inline;
	margin:7px 5px 0 0;
	padding:0;
	
}

.popup-header-button {
		
	background-color:#333333;
	color:#FFFFFF;
	font-family:"Montserrat",sans-serif;
	font-size:13px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border-radius:3px;
	
}

.popup-dark .popup-header-button {
		
	color:#333333;
	background-color:transparent;
	color:#FFFFFF;
	font-family:"Montserrat",sans-serif;
	font-size:13px;
	height:24px;
	line-height:24px;
	padding:5px 10px;
	border-radius:3px;
	
}

.popup-dark .popup-row {
	
	background-color:RGBA(33,33,33,0.6);
	color:#FFFFFF;
	
}

.popup-header-button:hover {

	text-decoration:none !Important;
	color:#FFFFFF !Important;	
	background-color:#3c3c3c;
	
}

.popup-header-button-active {

	background-color:#31cbfd;
	
}

.popup-header-button-active:hover {

	color:#FFFFFF !Important;
	text-decoration:none !Important;
	background-color:#31cbfd;
	
}

.popup-header-button-active-fixed {

	color:#FFFFFF !Important;
	text-decoration:none !Important;
	background-color:#31cbfd !Important;
	
}

.popup-header-button-active-fixed:hover {

	opacity:0.5;
	text-decoration:none !Important;
	
}

.popup-panel-content {
	
	font-size:12px;
	font-family:"Montserrat",sans-serif;
	
}

.popup-panel-tree {
	
	background-color:#ffffff;
	
}

.popup-panel-tree-header {
	
	padding:8px 10px;
	background-color:#e3e3e3;
	color:#333333;
	
}

.popup-panel-tree-content {	
	
	padding:8px 10px;
	background-color:#FFFFFF;
	
}

.simple-tree .popup-panel-tree-item {
	
	border-bottom:1px solid #dedede;
	padding-bottom:2px;
	font-size:12px;
	padding:10px;
	
}

.simple-tree .popup-panel-tree-item a {
	
	font-size: 0.7em;
	position: relative;
	top: -1px;
	left: -3px;
	color: #4c4c4e;	
	font-family:"Montserrat",sans-serif;
	
}

.simple-tree .popup-panel-tree-item a:hover {
	
	text-decoration:none;
	
}

.simple-tree-pm-button {
	
	position:relative;
	display:block;
	top:2px !Important;
	float:right;
	font-size:13px !Important;
	display:flex;
	margin-right:5px;
	/*margin-top:5px;*/
}

.popup-panel-tree-item-header {

	cursor:pointer;

}

.popup-panel-tree-item-subpanel {
	
	display:none;
	
}

.popup-panel-tree-item-subpanel ul {

    padding: 0px 0px 0px 12px;
    margin: auto auto 8px 8px;
    border-left: 1px solid #ccc;
    list-style-type: none;

}

.popup-panel-tree-item-label {

    font-size: 12px;
    font-weight: bolder;
	width: 90%;
	display: inline-flex;

}

.bootstrap-select .dropdown-menu li a span.text {
	
	text-transform:uppercase;
	font-size:12px;
	
}

#frm-adv-search .dropdown-toggle {
	
	background:none;
	/*text-transform:uppercase;
	font-size:12px;
	font-weight:bolder;*/
	
}

.popup-text {
	
	color:#343a40;
	
}

.popup-text-active:not(i) {
		
	font-family:"Montserrat",sans-serif;
	color:#31cbfd !Important;
	
}

.popup-icon {
	
	color:#828282;
	
}

.popup-icon-active {
	
	color:#31cbfd !Important;
	
}

.popup-panel-tree-item-subpanel li {
	
	font-family:"Montserrat",sans-serif;
	font-size: 0.7em;
	padding:2px 0;
	
}

.popup-panel-tree-item-subpanel li a {
	
	color:#6c6c6e;
	display:block;
	width:100%;
	height:auto%;
	font-size:11px;
	font-weight:400;
	padding: 0 13px;
	
}

.popup-panel-tree-item-subpanel li a:hover {
	
	color:#4c4c4e;
	opacity:0.8;
	
}

.popup-panel-content {
	
	width:100%;
	height:100%;
	padding:10px;
	background-color:#FFFFFF;
	overflow:auto;
	
}

.popup-panel-content .image {
	
	border-radius:3px;
	
}

.popup-panel-content .title {
	
	font-family:"Montserrat",sans-serif;
	font-size:18px;
	margin:20px 0 13px 0;
	
}

.popup-panel-content .button {
	
	background-color: #333333;
	color: #FFFFFF;
	font-family:"Montserrat",sans-serif;
	font-size: 13px;
	height: 29px;
	line-height: 29px;
	border-radius: 3px;
	text-align:center;
	width:100%;
	display:block;
	
}

.popup-panel-content .button:hover {
	
	text-decoration: none !Important;
	color: #FFFFFF !Important;
	background-color: #3c3c3c;
	
}

.gfi-info-table {
	
	width:93%;
	
}

.popup-table {
	
	
	
}

.popup-table tr td {
	
	border-top:1px solid white;
	border-left:1px solid white;
	
}

.popup-table tr td:last-child {
	
	border-right:1px solid white;
	
}

.popup-table tr:last-child td {
	
	border-bottom:1px solid white;
	
}

#filtered-layer-list {
	
	font-size:12px;
	padding:10px;
	min-height:0;
	/*overflow-y:auto;*/
	height:100%;
	
}

.popup-panel-tree-item {
	
	margin:2px 0;
	
}

#layer-preview-block {
	
	display:flex;
	flex-grow:1;
	
}

#layer-preview-inner {
	
	height:150px;
	width:100%;
	
}

#btn-layer-preview-addlayer {
	
	background-color:#343a40;
	font-weight:bolder;
	font-size:13px;
	width:100%;
	display:block;
	padding:10px;
	border-radius:3px;
	text-align:center;
	
}

#btn-layer-preview-addlayer:hover {
	
	color:#FFF;
	opacity:0.8;
	
}

#geovisor-popup-search .jump-button-fullsize,#geovisor-popup-search-mobile .jump-button-fullsize {
	
	background-color:#31cbfd;
	border-radius:3px;
	
}

#geovisor-popup-search .jump-button-fullsize:hover,#geovisor-popup-search-mobile .jump-button-fullsize:hover {
	
	background-color:#333;
	color:#FFFFFF;
	
}

#nav-popup-layers {
	
	height:50%;
	overflow-y:auto;
	
}

#dynbox-popup-layers .jump-window-group-body {
	
	overflow-y:auto;
	
}

.nav-popup-element {
	
	width:97%;
	
}

#filtered-layer-list li {
	
	min-height:20px !Important;
	line-height:20px !Important;
	
}

#filtered-layer-list li a {
	
	font-weight:400 !Important;
	
}

#filtered-layer-list li a:hover {
	
	background:transparent;
	color:#6c6c6e;
	opacity:0.8;
	
}

#popup-body .jump-row:first-child {
	
	height:100%;
	
}

#popup-preview-inner {
	
	height: 100%;
	display: flex;
	flex-direction: column;
	
}

.jump-window-body:not(#popup-body) {
	
	font-size:12px;
	
}

#popup-geovisor {
	
	display:flex !Important;
	
}

.popup-modal {
	
	position:fixed;
	top:0;
	left:0;
	background-color:RGBA(0,0,0,0.5);
	width:100%;
	height:100%;
	z-index:900000;
	display:none;
	
}

.popup-stats {
	
	position:fixed;
	background-color:#FFFFFF;
	width:90%;
	height:95%;
	z-index:910000;
	display:none;
	padding:20px;
	left:50%;
	top:51%;
	margin-left:-45%;
	margin-top:-23%;
	
}

.popup-stats h3 {
	
	color:#5b325e;
	
}

.popup-stats a:not(.dropdown-item) {
	
	color:rgb(33, 37, 41);
	
}

.popup-stats-gm-row a:hover {
	
	color:rgb(33, 37, 41);
	opacity:0.8;
	
}

.popup-stats .icons a {
	
	margin-right:10px;
	
}

.popup-stats .icons i {
	
	color:#aaaaaa;
	
}

.popup-stats-gm-row {
	
	width:94% !Important; 
	position:relative; 
	left:3%;
	
}

.popup-stats hr {
	
	margin: 20px 0px 30px 0px;
	width: 100%;
	
}

.gm-highlight {
	
	color:#5b325e;
	font-weight:700;
	
}

.gm-text {
	
	color:#aaaaaa;
	
}

#gm-stats-mediawrapper {
	
	width:100%;
	height:350px;
	
}

#layer-preview-inner #layer-preview-title {
	
	font-size:13px;
	font-weight:bolder;
	
}

#layer-preview-inner .content {
	
	font-size:12px;
	
}