.w75p {
	
	width:75%;
	
}

.w80p {
	
	width:80%;
	
}

.w85p {
	
	width:85%;
	
}

.w90p {
	
	width:90%;
	
}

.w100p {
	
	width:100%;
	
}

.h100p {
	
	height:100% !Important;
	
}

.fs-10 {
	
	font-size:10px;
	
}

.fs-12 {
	
	font-size:12px;
	
}