.p0 {
	
	padding:0px !Important;
	
}

.m-5 {
	
	margin:5px !Important;
	
}

.m-10 {
	
	margin:10px;
	
}

.mp0 {
	
	margin:0px;
	padding:0px;
	
}

.ml-1 {
	
	margin-left:1px;
	
}

.ml-3 {
	
	margin-left:3px;
	
}

.ml-5 {
	
	margin-left:5px !important;
	
}

.ml-10 {
	
	margin-left:10px;
	
}

.ml-15 {
	
	margin-left:15px;
	
}

.ml-20 {
	
	margin-left:20px;
	
}

.mt-5n {
	
	margin-top:-5px;
	
}

.mt-3 {
	
	margin-top:3px !important;
	
}

.mt-20 {
	
	margin-top:20px;
	
}

.mt-30 {
	
	margin-top:30px;
	
}

.mt-40 {
	
	margin-top:40px;
	
}

.mt-50 {
	
	margin-top:50px;
	
}

.mt-56 {
	
	margin-top:56px;
	
}

.mtb-20 {
	
	margin:20px 0;
	
}

.mt-30 {
	
	margin-top:30px;
	
}

.mr-20 {
	
	margin-right:20px;
	
}

.mb-0 {
	
	margin-bottom:0;
	
}

.p0-5 {
	
	padding:0 5px !Important;
	
}

.p-10 {
	
	padding:10px !Important;
	
}

.p-20 {
	
	padding:20px !Important;
	
}

.p-30 {
	
	padding:30px !Important;
	
}

.pt-10 {
	
	padding-top:10px;
	
}

.plr-10 {
	
	padding:0 10px;
	
}

.ptd-30 {
	
	padding:30px 0;
	
}